.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.column {
  float: left;
  width: 50%;
}

.sm_column {
  float: left;
  width: 20%;
}

.table-link{
  font-size: 10pt;
}

