{% extends "base_generic.html" %}

{% load render_table from django_tables2 %}
{% block content %}
  <div style="margin-left:20px;margin-top:20px">
  <h1>{{artist}}</h1>
	      <br><strong>Spotify Link: </strong><a href="https://open.spotify.com/artist/{{ artist.pk }}">Link</a>

	<h2>Your Plays of {{artist}}</h2>
	  {% render_table plays_table %}
	 <!--<table>-->
	    <!--<tr>-->
	        <!--<th>Play ID</th>-->
	        <!--<th>Timestamp</th>-->
	        <!--<th>Track Title</th>-->
	        <!--<th>Album</th>-->
	        <!--<th>Context_Type</th>-->
	        <!--<th>Context</th>-->
	    <!--</tr>-->
	  <!--{% for play in artist_table %}-->
	    <!--<tr>-->
	        <!--<td>{{ play.play_id }}</td>-->
	        <!--<td>{{ play.time_stamp }}</td>-->
	        <!--<td>{{ play.song }}</td>-->
	        <!--<td>{{ play.context_type }}</td>-->
		    <!--{% if play.context_type == 'album' %}-->
		    <!--<td>{{ play.song.album_id }}</td>-->
		    <!--{% elif play.context_type == 'artist' %}-->
		    <!--<td>{{ play.song.artist_id }}</td>-->
		    <!--{% else %}-->
		    <!--<td>{{ play.context }}</td>-->
		    <!--{% endif %}-->
	    <!--</tr>-->
	    <!--{% endfor %}-->
	<!--</table>-->
{% endblock %}