{% extends "base_generic.html" %}

{% block content %}
  <h1>Spy-ify Home</h1>
    {% if user.is_authenticated %}
        {% if not sp_authed %}
			<p style="color:red">Spy-ify is not currently Authorized to access your Spotify Listening
			<a href="https://accounts.spotify.com/authorize/?client_id=d85350c3c35449d987db695a8e5a819b&response_type=code&redirect_uri=http://spyify.duckdns.org/authed&scope=user-modify-playback-state%20user-read-playback-state%20user-read-recently-played%20user-read-currently-playing%20user-top-read">
			Authorize App
			</a>
			</p>

		{% endif %}


	    <p>Welcome, <strong>{{ user.username.upper }}</strong>.</p>
	    <p>See all of my <a href="user/plays">Plays</a></p>

		<div class="row">
			<div class="column">
				<h2>{{user.username}} Top Songs</h2>
					<table class="table" style="width:90%">
					<thead>
				      <tr>
				        <th>Plays</th>
				        <th>Song Title</th>
				        <th>Artist</th>
				        <th>Album</th>
				      </tr>
			        </thead>
					{% for song, plays in user_songs %}
					<tbody>
						<tr>
							<td>{{plays}}</td>
							<td><a href="track/{{ song.pk }}">{{song.song_name}}</a></td>
							<td><a href="artist/{{ song.artist_id.pk }}">{{song.artist_id}}</a></td>
							<td><a href="album/{{ song.album_id.pk }}">{{song.album_id}}</a></td>
						</tr>
					</tbody>
			        {% endfor %}
					</table>
			</div>
		</div>

	{% else %}
	        <p>Welcome, you're not currently logged in.<br>
	        <a href="{% url 'login' %}">Login</a><br>
	        <a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %}

<div>
  <h2>Site Totals</h2>
  <p>Spi-ify has the following record counts:</p>
  <ul>
    <li><strong>Site Users:</strong> {{ num_users }}</li>
    <li><strong>Total Plays:</strong> {{ num_plays }}</li>
    <li><strong>Unique Songs:</strong> {{ num_songs }}</li>
    <li><strong>Unique Artists:</strong> {{ num_artists }}</li>
    <li><strong>Unique Albums:</strong> {{ num_albums }}</li>
  </ul>
</div>
{% endblock %}