{% extends "base_generic.html" %}

{% if user.is_authenticated %}
	{% block content %}
	  <div style="margin-left:20px;margin-top:20px">
	  <h1>Plays</h1>
		<table class="table table-bordered">
			<thead>
		      <tr>
		        <th>Song Title</th>
		        <th>Artist</th>
		        <th>Time_Stamp</th>
		      </tr>
	        </thead>
	        {% for play in plays %}
			<tbody>
				<tr>
					<td>{{play.song}}</td>
					<td>{{play.song.artist_id}}</td>
					<td>{{play.time_stamp}}</td>
				</tr>
	        {% endfor %}
			</tbody>
	{% endblock %}
{% else %}
			<p>You are not currently logged in</p>
{% endif %}
