{% extends 'base_generic.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<a href="https://accounts.spotify.com/authorize/?client_id=d85350c3c35449d987db695a8e5a819b&response_type=code&redirect_uri=http://spyify.duckdns.org/spytify&scope=user-modify-playback-state%20user-read-playback-state%20user-read-recently-played%20user-read-currently-playing%20user-top-read">
	Authorize App
	</a>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}